@font-face {
  font-family: "YoutubeSansBlack";
  src: url("../assets/fonts/youtubesansblack-webfont.woff") format("woff");
}
@font-face {
  font-family: "YoutubeSansBold";
  src: url("../assets/fonts/youtubesansbold-webfont.woff") format("woff");
}
@font-face {
  font-family: "YoutubeSansDarkBlack";
  src: url("../assets/fonts/youtubesansdarkblack-webfont.woff") format("woff");
}
@font-face {
  font-family: "YoutubeSansDarkBold";
  src: url("../assets/fonts/youtubesansdarkbold-webfont.woff") format("woff");
}
@font-face {
  font-family: "YoutubeSansDarkExtraBold";
  src: url("../assets/fonts/youtubesansdarkextrabold-webfont.woff")
    format("woff");
}
@font-face {
  font-family: "YoutubeSansDarkLight";
  src: url("../assets/fonts/youtubesansdarklight-webfont.woff") format("woff");
}
@font-face {
  font-family: "YoutubeSansDarkMedium";
  src: url("../assets/fonts/youtubesansdarkmedium-webfont.woff") format("woff");
}
@font-face {
  font-family: "YoutubeSansDarkRegular";
  src: url("../assets/fonts/youtubesansdarkregular-webfont.woff") format("woff");
}
@font-face {
  font-family: "YoutubeSansDarkSemiBold";
  src: url("../assets/fonts/youtubesansdarksemibold-webfont.woff")
    format("woff");
}
@font-face {
  font-family: "YoutubeSansExtraBold";
  src: url("../assets/fonts/youtubesansextrabold-webfont.woff") format("woff");
}
@font-face {
  font-family: "YoutubeSansLight";
  src: url("../assets/fonts/youtubesanslight-webfont.woff") format("woff");
}
@font-face {
  font-family: "YoutubeSansMedium";
  src: url("../assets/fonts/youtubesansmedium-webfont.woff") format("woff");
}
@font-face {
  font-family: "YoutubeSansRegular";
  src: url("../assets/fonts/youtubesansregular-webfont.woff") format("woff");
}
@font-face {
  font-family: "YoutubeSansSemiBold";
  src: url("../assets/fonts/youtubesanssemibold-webfont.woff") format("woff");
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
