.header {
  height: 80px;
  background-color: rgb(20, 20, 20);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin: 0 20px;
}

.nav div:first-child {
  display: flex;
  align-items: center;
  height: 100%;
}

.menu-toggle-btn {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    color: #fff;
    font-size: 26px;
  }
}

.logo {
  margin-left: 30px;
  color: #fff;
}

.search-container {
  justify-self: center;
  display: flex;
  justify-content: center;
  background-color: rgb(20, 20, 20);
  border: 1px solid rgb(150, 150, 150);
  border-radius: 40px;
  overflow: hidden;
}

.search-input {
  border: none;
  background: none;
  height: 40px;
  width: 600px;
  padding-left: 20px;
  color: #fff;
}

.search-btn {
  background: rgb(70, 70, 70);
  border: none;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    color: #fff;
    font-size: 22px;
  }
}
